
.image{
    width: 300px;
}
.second-task{
    display: flex;
    gap: 10px;
    position: relative;
}
.link__wrapper .link__text{
    display: none;
    position: absolute;
}
.link__wrapper:hover .link__text{
    display: block;
}
.third-task{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
input, button{
    width: 300px;
    margin-bottom: 5px;
}
#demo{
    display: none;
}
span{
    display: flex;
}
.fourth-task{
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.update{
    background-color: #48f148;
}
.delete{
    background-color: #f88383;
}
.pending{
    background-color: #ffd24a;
}
#ChessBoard
{
    width:416px;
    height:416px;
    border:1px solid black;
}

#ChessBoard div
{
    width:52px;
    height:52px;
    float:left;
    text-align:center;
    line-height:52px;
    font-size:150%;
}

.white{
    color:white
}